.input-group{
    flex-direction: row;
    margin-bottom: $s-size;
    
    
    @media (max-width:$tablet-breakpoint) {
        display: flex;
        flex-direction: column;
        margin-bottom: $m-size; 
    }
}

.input-group__item-page-header{
    margin: 0 $s-size 0 0;


    @media (max-width:$large-tablet-breakpoint) {
        margin:0 0 0.6rem 0;

    }
}

.input-group__item{
    margin: 0 $s-size 0 0;


    @media (max-width:$tablet-breakpoint) {
        margin:0;
    }
}

.input-group__item--date{
    @media (max-width: $large-tablet-breakpoint) {
        margin:$s-size 0 0 0;
    }
}