.list-header {
    background: lighten($color: $blue, $amount: 45%);
    border: 1px solid $blue;
    color: $blue;
    display:flex;
    font-weight: bold;
    justify-content: space-between;
    padding:$s-size $m-size;
    font-family: "Agency FB";
    font-size: 2.8rem;
    @media (max-width: $tablet-breakpoint) {
        border-left: none;
        border-right:none;
        padding:0 $s-size;
        font-size: 1.6rem;
        margin-top:$s-size;
        font-weight: 600;
    }
    @media (min-width: $tablet-breakpoint ) and (max-width: $large-tablet-breakpoint) {
        font-size: 2.4rem;
    }
}

.list-item {
    font-family: "Agency FB";
    font-size: 2.5rem;
    border: 1px solid darken($blue, 7%);
    border-top: none;
    color: $blue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: $s-size;
    text-decoration: none;
    transition: background 0.3s ease;
    &:hover {
        background: lighten($color: $blue, $amount: 45%);
    }
    @media (max-width: $tablet-breakpoint) {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        padding:0 $s-size;
        font-size:1.6rem;
        border-left: none;
        border-right:none;
    }
}

.list-body {
    margin-bottom: 0;
    @media(max-width: $tablet-breakpoint) {
        margin-bottom: 0;
        border-left: none;
        border-right:none;
    }
}

.list-item--message {
    align-items: center;
    color: $blue;
    justify-content: center;
    padding: $m-size;
    &:hover {
        background: none;
    }
    font-family: "Agency FB";
    font-size: 2.5rem;
    @media(max-width: $tablet-breakpoint) {
        margin-bottom: 0;
        border-left: none;
        border-right:none;
        font-size: 1.8rem;
    }
}

.list-item__title {
    margin: 0;
    word-break: break-all;
}

.list-item__subtitle {
    color: $grey;
    font-size: $font-size-small;
}

.list-item__data {
    margin: 0 0 0 0;
    @media (max-width: $tablet-breakpoint) {
        margin: 0;
        padding-left: $s-size; 
    }
}