.page-header{
    background: lighten($color: $blue, $amount: 45%);
    margin: $l-size;
    padding: $l-size 0;
}

.page-header__actions{
    margin-top: $m-size;
}

.page-header__title{
    font-family: "Agency FB";
    margin: 0 0 0 0;
    color: $blue;
    font-size: 4rem;
    @media (max-width:$tablet-breakpoint) {
        margin:0 0;
        padding:0 0.8rem;
        font-size: 2rem;
    }
}

.page-header__title-update {
    font-family: "Agency FB";
    margin: 0 0 0 0;
    color: $blue;
    font-size: 4rem;
    @media (max-width:$tablet-breakpoint) {
        margin:0 0;
        padding:0;
        font-size: 2rem;
    }
}

.page-header__text{
    font-family: "Agency FB";
    color: $blue;
}

.page-header__margin {
    margin-top:$s-size;
}

.content-container__page-header {
    display:flex;
    align-items: center;
    margin: 0 auto;
    max-width: 80rem;
    padding: 0 $m-size;
    justify-content: space-between;
    @media (max-width:$tablet-breakpoint) {
        width:100%
    }
}