@import url('https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou&display=swap');

// Colors
$blue:#4472C7;
$dark-blue: #364051;
$dark-grey: #333333;
$grey:#666;
$off-white:#d4d7e4;
$light-grey:#645A5E;
$red:#ff0808;
$green:#48e880;
// Font Size
$font-size-large: 2.2rem;
$font-size-small: 1.4rem;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 65rem;
$tablet-breakpoint: 28rem;
$large-tablet-breakpoint: 43rem;
//fonts
$zcool-font: 'ZCOOL QingKe HuangYou', cursive;
$open-sans: 'Open Sans', sans-serif;